<div id="container">
                <canvas id="gameboard" onclick="targetClicked(event)" width="700" height="500" style="border:1px solid #d3d3d3;">
                        Your browser does not support the canvas element. Go download Chrome you savage.
                </canvas>
                <div id="score"></div>
                <div id="info"></div>
        </div>
