<h1 class="text-center">Archery Contest</h1>

<div class="text-center white">
    <p>Sign up for an archery conteset!  Once entered, you will have 30 seconds to hit as many targets as you can</p>

    <p>Accuracy is key here.  If you miss, you are out!  The closer to the bullseye, the higher the target is worth</p>

    <p>Do you have what it takes to be the champion?</p>
</div>

<form class="form-actions" action="/archery-game/new" method="post">
    <input type="text" name="name" placeholder="Your name">
    <input type="submit" name="Submit" class="btn btn-success" value="Enter the Contest">
</form>

<form class="form-action" action="/admin-panel/" method="get">
    <input type="submit" name="admin" class="btn btn-warning pull-right" value="Admin Panel">
</form>
